/* page-body-wrapper
========================= */
.page-body-wrapper {
  min-height: 100vh;
  padding-left: 0;
  padding-right: 0;
  .main-panel {
    background-color: #f2f2f2;

    background-size: cover;
    min-height: 100vh;
    width: calc(100% - 335px);
    transition: all 0.1s ease-in-out;
    padding: 5rem 0 0 5rem;
    @media (max-width: 1400px) {
      padding: 4rem 0 0 4rem;
      width: calc(100% - 250px);
    }

    @media (max-width: 767px) {
      padding: 0 0 0 10px;
    }
    &.main-panel-v2 {
      width: 100%;
    }
  }
}
.innerBox {
  min-height: 500px;
  height: calc(100vh - 100px);
  border: 1px solid $darkGray;
  border-right: 0;
  background-color: $white;
  box-shadow: 0px 4px 15px 0px rgba(31, 51, 73, 0.1);
  overflow-y: scroll;
}

/* side-nav
=========================== */
.side-nav {
  width: 335px;
  min-height: 100vh;
  min-height: 500px;
  background: #fff;
  @include transition(0.3s);
  @media (max-width: 1400px) {
    width: 250px;
  }
  &:before {
    background-image: url(../images/bg-body.jpg);
    background-size: cover;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    opacity: 0.05;
  }
  padding: 0;
  z-index: 999;
  transition: all 0.1s ease-in-out;
  position: relative;
  .control-side {
    color: $darkGray;
    position: absolute;
    left: 20px;
    top: 10px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    span {
      display: inline-block;
      background: $black;
      border-radius: 5px;
      &:first-child {
        position: absolute;
        top: 8px;
        left: 12px;
        height: 18px;
        width: 3px;
        transition: all 0.3s ease-in-out;
      }
      &:last-child {
        width: 18px;
        height: 3px;
        position: absolute;
        left: 4px;
        top: 15px;
      }
    }
    &.active {
      span {
        &:first-child {
          transform: translateY(-20px);
          opacity: 0;
        }
      }
    }
  }
  .logo-brand {
    margin-bottom: 60px;
    margin-top: 24px;
    img {
      &:last-child {
        display: none !important;
      }
    }
  }
  .user-info {
    text-align: center;
    color: #fff !important;
    margin-top: 90px;
    margin-bottom: 100px;
    position: relative;
    cursor: pointer;
    a {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      width: 100%;
      height: 100%;
    }
    img {
      width: 90%;
      max-width: 138px;
      margin: auto;
    }
  }
  .nav-list {
    color: #fff;
    margin-bottom: 5px;
    .has-submenu {
      .submenu {
        background-color: rgba(0, 0, 0, 0.1);
        text-align: center;
        li {
          a {
            &:hover {
              &:after {
                width: 0% !important;
              }
            }
            &.active {
              &:after {
                width: 0% !important;
              }
            }
          }
        }
      }
    }
    img {
      max-width: 100px;
    }
    & > li {
      &:last-child {
        a {
          margin-bottom: 0;
        }
      }
      & > a {
        position: relative;
        cursor: pointer;
        font-size: 2.2rem;
        i {
          margin-left: 10px;
          font-size: 1.8rem;
          width: 31px;
          display: none;
          text-align: center;
        }
        img {
          display: none;
        }
      }
    }
    a {
      color: $darkGray;
      display: block;
      text-align: center;
      width: 90%;
      margin: 0 auto 32px;
      padding: 11px 10px;
      z-index: 2;
      border-radius: 9px;
      &.active {
        background-color: $main;
        color: #fff;
        border-radius: 0;
        img {
          filter: brightness(5);
        }
      }
    }
  }
}

/* side-bar-icon
======================*/
.side-bar-icon {
  .page-body-wrapper {
    .main-panel {
      width: 100%;
      @media (max-width: 767px) {
        padding: 20px 0 20px 10px;
      }
      &.main-panel-v2 {
        width: 100%;
      }
    }
  }
  .side-nav {
    width: 0;
    transform: translateX(-100%);
    .brand {
      display: none;
    }
    img {
      display: none !important;
    }
    .user-info {
      p {
        font-size: 1.3rem;
      }
      span {
        font-size: 8rem;
      }
    }
    .user-info {
      img {
        width: 70%;
        transition: all 0.3s ease-in-out;
      }
    }
    .nav-list {
      a {
        font-size: 0;
        padding: 0;
      }
      img {
        display: block;
        margin: auto;
      }
    }

    .control-side {
      left: 8px;
      background: $main;
      span {
        background: $white;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}
