/* custom-btn
========================== */ 
.custom-btn{
  background-color: $main;
  border: none;
  border-radius: 0;
  color: $white;
  padding: 1rem ;
  width: 100%;
  box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.16);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  &:hover{
      box-shadow: none;
  }
}