
.nav-tabs {
    border:0;
    border-bottom: 1px solid $darkGray;
    position: relative;
    @media(max-width:767px){
        display:block;
    }
    &.boxShadow{
      box-shadow: 0 0 15px 2px rgba(31, 51, 73, 0.1)
    }
    .addTabs{
      position: absolute;
      top: 50%;
      right: 5rem;
      transform: translateY(-50%);
      color: $main;
      font-weight: bold;
    }
    
    .nav-link{
        border:0;
        border-radius: 0;
        padding: 10px ;
        color: #000;
        display: block;
        &.active{
          background-color: transparent;
            color: $main
        }
    }
  }
  