@import "partials/abstract/_abstract.scss";
@import "partials/pages/_login.scss";
@import "partials/layout/_aside.scss";
@import "partials/layout/_tabs.scss";
@import "partials/widgets/_head.scss";
@import "partials/widgets/_accordion.scss";
@import "partials/widgets/_card.scss";
*,
*:before,
*:after {
  box-sizing: border-box;
}
::selection {
  background: $main;
  color: $white;
}
button:focus {
  outline: 0;
  box-shadow: none;
}
*:focus {
  outline: 0;
}
html {
  font-size: 10px;
}
body {
  font-family: "stc";
  font-size: 1.6rem;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background: $whiteGray;
}
::-webkit-scrollbar-track {
  background-color: $whiteGray;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background: $main;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: $main;
}
ul {
  padding: 0;
  list-style: none;
}
a,
a:hover,
a:focus {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}
.d-inline-block {
  display: inline-block !important;
}
.color {
  color: $main;
}

.bootstrap-select {
  .btn {
    border-color: transparent;
    background-color: transparent;
    border-bottom-color: #f8f9fa;
    font-size: 1.5rem;
    height: 43px;
  }
}
.col{
  flex-grow: 0;
}
@media (max-width: 1600px) {
  html {
    font-size: 9px;
  }
}
@media (max-width: 1200px) {
  html {
    font-size: 7.5px;
  }
}

@media (max-width: 600px) {
  .side-nav {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }
}
