@mixin transition($prop) {
    
    transition: $prop 0.2s cubic-bezier(.53,-.01,0,1.49); 
  }
  @mixin transitionease($prop) {
    
    transition: $prop 0.2s ease-in-out; ;
  }
 
  // abstract
  @import '_colors.scss';
  @import '_form-group.scss';
  @import '_modal.scss';
  @import '_fonts.scss';
  @import '_progress.scss';


  // layout
  @import '../layout/_custombtn.scss';
  @import '../layout/_sweet.scss';
  @import '../layout/_table.scss';


