input,
.form-control {
  background-color: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid $darkGray;
  margin-bottom: 4rem;
  width: 100%;
  color: $darkGray;
  padding-bottom: 1.5rem;
  font-size: 1.5rem;
  &:focus {
    border-color: $main;
    color: $main;
    box-shadow: none
  }
}
select.form-control:not([size]):not([multiple]) {
  height: auto;
  font-size: inherit;
}
input[type="file"]{
    padding-bottom: 1rem;
}

select{
  padding-left: 0 !important;
  padding-right: 0 !important
}