
/* modal 
=======================*/ 
.modal-body{
   padding: 2rem 5rem;
  input,
  .form-control{
    margin-bottom: 1rem
  }
   h3{
      font-size: 2.5rem;
      color: $main;
      font-weight: bold;
      margin-bottom: 3rem;
   }
   .modelAdd{
     color: $main;
     font-weight: bold;
     margin-bottom: 2rem
   }
 }
.modal{

   .close{
      z-index: 54;
      button{
         font-size: 2rem;
         top: 15px;
         position: absolute;
         right: 15px;
         
      }
   }
}
.modal-xl{
    @media (min-width: 1200px){
       max-width: 1100px;
    }
    @media (max-width: 1199px){
        max-width: 1100px;
        width: 95%;
     }

}
