.progress-bar{
    background: linear-gradient(to right,#633683,#d81880,#f78b34,#f2d225);
    position: relative;
   
}
.progress{
    height: 4px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    border-radius: 0;
    overflow: visible;
    span{
        position: absolute;
        top: calc(100% + 7px);
        right: -15px;
        background-color: #982e7f;
        font-size: 14px;
        z-index: 0;
        padding: 0 5px;
        &:after{
            content: "";
            position: absolute;
            bottom: 100%;
            left: 50%;
            transform: translateX(-50%);
            border-bottom-color: $main;
            border-top-color: transparent;
            border-right-color: transparent;
            border-left-color: transparent;
            border-style: solid;
            border-width: 5px;
        }
    }
}