input,
.form-control {
  background-color: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #b2b2b2;
  margin-bottom: 4rem;
  width: 100%;
  color: #b2b2b2;
  padding-bottom: 1.5rem;
  font-size: 1.5rem;
}
input:focus,
.form-control:focus {
  border-color: #982e7f;
  color: #982e7f;
  -webkit-box-shadow: none;
  box-shadow: none;
}

select.form-control:not([size]):not([multiple]) {
  height: auto;
  font-size: inherit;
}

input[type="file"] {
  padding-bottom: 1rem;
}

select {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

/* modal 
=======================*/
.modal-body {
  padding: 2rem 5rem;
}
.modal-body input,
.modal-body .form-control {
  margin-bottom: 1rem;
}
.modal-body h3 {
  font-size: 2.5rem;
  color: #982e7f;
  font-weight: bold;
  margin-bottom: 3rem;
}
.modal-body .modelAdd {
  color: #982e7f;
  font-weight: bold;
  margin-bottom: 2rem;
}

.modal .close {
  z-index: 54;
}
.modal .close button {
  font-size: 2rem;
  top: 15px;
  position: absolute;
  right: 15px;
}

@media (min-width: 1200px) {
  .modal-xl {
    max-width: 1100px;
  }
}
@media (max-width: 1199px) {
  .modal-xl {
    max-width: 1100px;
    width: 95%;
  }
}

@font-face {
  font-family: 'stc';
  src: url(../fonts/stc.ttf);
}
@font-face {
  font-family: 'stc-bold';
  src: url(../fonts/stc_bold.ttf);
}
.progress-bar {
  background: -webkit-gradient(linear, left top, right top, from(#633683), color-stop(#d81880), color-stop(#f78b34), to(#f2d225));
  background: -o-linear-gradient(left, #633683, #d81880, #f78b34, #f2d225);
  background: linear-gradient(to right, #633683, #d81880, #f78b34, #f2d225);
  position: relative;
}

.progress {
  height: 4px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  border-radius: 0;
  overflow: visible;
}
.progress span {
  position: absolute;
  top: calc(100% + 7px);
  right: -15px;
  background-color: #982e7f;
  font-size: 14px;
  z-index: 0;
  padding: 0 5px;
}
.progress span:after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  border-bottom-color: #982e7f;
  border-top-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
  border-style: solid;
  border-width: 5px;
}

/* custom-btn
========================== */
.custom-btn {
  background-color: #982e7f;
  border: none;
  border-radius: 0;
  color: #FFFFFF;
  padding: 1rem;
  width: 100%;
  -webkit-box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.16);
  box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.16);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.custom-btn:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.swal2-popup {
  font-size: 1.5rem !important;
}
.swal2-popup .btn {
  margin: 0 5px !important;
}

/* bg
=========================== */
.bg {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(125, 68, 126, 0.7)), to(rgba(164, 33, 118, 0.7))), url(../images/bg-body.jpg);
  background: -o-linear-gradient(rgba(125, 68, 126, 0.7), rgba(164, 33, 118, 0.7)), url(../images/bg-body.jpg);
  background: linear-gradient(rgba(125, 68, 126, 0.7), rgba(164, 33, 118, 0.7)), url(../images/bg-body.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  background-position: center;
}

.rightSide {
  color: #FFFFFF;
}
.rightSide h2 {
  font-size: 6rem;
}
.rightSide h3 {
  font-size: 5rem;
}

.start-box {
  background: #FFFFFF;
  min-height: 100vh;
  border-radius: 0px;
}
.start-box .brand {
  position: absolute;
  top: 10px;
  left: 10px;
}
.start-box .login {
  padding: 6.3rem 7rem 5rem;
  text-align: center;
}
.start-box .login h1 {
  margin-bottom: 6rem;
  color: #982e7f;
  font-size: 5rem;
}
.start-box .login input {
  text-align: center;
}

/* page-body-wrapper
========================= */
.page-body-wrapper {
  min-height: 100vh;
  padding-left: 0;
  padding-right: 0;
}
.page-body-wrapper .main-panel {
  background-color: #f2f2f2;
  background-size: cover;
  min-height: 100vh;
  width: calc(100% - 335px);
  -webkit-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  padding: 5rem 0 0 5rem;
}
@media (max-width: 1400px) {
  .page-body-wrapper .main-panel {
    padding: 4rem 0 0 4rem;
    width: calc(100% - 250px);
  }
}
@media (max-width: 767px) {
  .page-body-wrapper .main-panel {
    padding: 0 0 0 10px;
  }
}
.page-body-wrapper .main-panel.main-panel-v2 {
  width: 100%;
}

.innerBox {
  min-height: 500px;
  height: calc(100vh - 100px);
  border: 1px solid #b2b2b2;
  border-right: 0;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 4px 15px 0px rgba(31, 51, 73, 0.1);
  box-shadow: 0px 4px 15px 0px rgba(31, 51, 73, 0.1);
  overflow-y: scroll;
}

/* side-nav
=========================== */
.side-nav {
  width: 335px;
  min-height: 100vh;
  min-height: 500px;
  background: #fff;
  -webkit-transition: 0.3s 0.2s cubic-bezier(0.53, -0.01, 0, 1.49);
  -o-transition: 0.3s 0.2s cubic-bezier(0.53, -0.01, 0, 1.49);
  transition: 0.3s 0.2s cubic-bezier(0.53, -0.01, 0, 1.49);
  padding: 0;
  z-index: 999;
  -webkit-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  position: relative;
}
@media (max-width: 1400px) {
  .side-nav {
    width: 250px;
  }
}
.side-nav:before {
  background-image: url(../images/bg-body.jpg);
  background-size: cover;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  opacity: 0.05;
}
.side-nav .control-side {
  color: #b2b2b2;
  position: absolute;
  left: 20px;
  top: 10px;
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.side-nav .control-side span {
  display: inline-block;
  background: #2b2b2b;
  border-radius: 5px;
}
.side-nav .control-side span:first-child {
  position: absolute;
  top: 8px;
  left: 12px;
  height: 18px;
  width: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.side-nav .control-side span:last-child {
  width: 18px;
  height: 3px;
  position: absolute;
  left: 4px;
  top: 15px;
}
.side-nav .control-side.active span:first-child {
  -webkit-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  transform: translateY(-20px);
  opacity: 0;
}
.side-nav .logo-brand {
  margin-bottom: 60px;
  margin-top: 24px;
}
.side-nav .logo-brand img:last-child {
  display: none !important;
}
.side-nav .user-info {
  text-align: center;
  color: #fff !important;
  margin-top: 90px;
  margin-bottom: 100px;
  position: relative;
  cursor: pointer;
}
.side-nav .user-info a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.side-nav .user-info img {
  width: 90%;
  max-width: 138px;
  margin: auto;
}
.side-nav .nav-list {
  color: #fff;
  margin-bottom: 5px;
}
.side-nav .nav-list .has-submenu .submenu {
  background-color: rgba(0, 0, 0, 0.1);
  text-align: center;
}
.side-nav .nav-list .has-submenu .submenu li a:hover:after {
  width: 0% !important;
}
.side-nav .nav-list .has-submenu .submenu li a.active:after {
  width: 0% !important;
}
.side-nav .nav-list img {
  max-width: 100px;
}
.side-nav .nav-list > li:last-child a {
  margin-bottom: 0;
}
.side-nav .nav-list > li > a {
  position: relative;
  cursor: pointer;
  font-size: 2.2rem;
}
.side-nav .nav-list > li > a i {
  margin-left: 10px;
  font-size: 1.8rem;
  width: 31px;
  display: none;
  text-align: center;
}
.side-nav .nav-list > li > a img {
  display: none;
}
.side-nav .nav-list a {
  color: #b2b2b2;
  display: block;
  text-align: center;
  width: 90%;
  margin: 0 auto 32px;
  padding: 11px 10px;
  z-index: 2;
  border-radius: 9px;
}
.side-nav .nav-list a.active {
  background-color: #982e7f;
  color: #fff;
  border-radius: 0;
}
.side-nav .nav-list a.active img {
  -webkit-filter: brightness(5);
  filter: brightness(5);
}

/* side-bar-icon
======================*/
.side-bar-icon .page-body-wrapper .main-panel {
  width: 100%;
}
@media (max-width: 767px) {
  .side-bar-icon .page-body-wrapper .main-panel {
    padding: 20px 0 20px 10px;
  }
}
.side-bar-icon .page-body-wrapper .main-panel.main-panel-v2 {
  width: 100%;
}
.side-bar-icon .side-nav {
  width: 0;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
}
.side-bar-icon .side-nav .brand {
  display: none;
}
.side-bar-icon .side-nav img {
  display: none !important;
}
.side-bar-icon .side-nav .user-info p {
  font-size: 1.3rem;
}
.side-bar-icon .side-nav .user-info span {
  font-size: 8rem;
}
.side-bar-icon .side-nav .user-info img {
  width: 70%;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.side-bar-icon .side-nav .nav-list a {
  font-size: 0;
  padding: 0;
}
.side-bar-icon .side-nav .nav-list img {
  display: block;
  margin: auto;
}
.side-bar-icon .side-nav .control-side {
  left: 8px;
  background: #982e7f;
}
.side-bar-icon .side-nav .control-side span {
  background: #FFFFFF;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media(max-width:767px){
    .side-bar-icon .side-nav .control-side span {
    box-shadow: 0 6px 0 0 #fff, 0 -6px 0 0 #fff;
    }
}
.nav-tabs {
  border: 0;
  position: relative;
    z-index: 99;
    margin-right: 11.2rem;
}
@media (max-width: 767px) {
  .nav-tabs {
    display: block;
  }
}
.nav-tabs.boxShadow {
  -webkit-box-shadow: 0 0 15px 2px rgba(31, 51, 73, 0.1);
  box-shadow: 0 0 15px 2px rgba(31, 51, 73, 0.1);
}
.nav-tabs .addTabs {
  position: absolute;
  top: 50%;
  right: 5rem;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #982e7f;
  font-weight: bold;
}
.nav-tabs .addTabs i{
    cursor: pointer
}
.nav-tabs .nav-link {
  border: 0;
  border-radius: 0;
  padding: 10px;
  color: #000;
  display: block;
}
.nav-tabs .nav-link.active {
  background-color: transparent;
  color: #982e7f;
}

.headOfHead {
  border-bottom: 1px solid #b2b2b2;
  margin: 0 3rem;
  position: relative;
}
.headOfHead .setting {
  position: absolute;
  top: 0;
  right: 10px;
}
.headOfHead .setting a {
  color: #b2b2b2;
}

.headInfo {
  margin-bottom: 3rem;
}
.headInfo.headInfo2 {
  overflow: hidden;
}
.headInfo.headInfo2 .headInfo_img {
  border-radius: 50%;
  width: 7.5rem;
  height: 7.5rem;
  text-align: center;
  overflow: hidden;
  float: left;
}
.headInfo.headInfo2 .headInfo_img img {
  -o-object-fit: contain;
  object-fit: contain;
}
.headInfo.headInfo2 .headInfo_content {
  float: right;
  width: calc(100% - 9.5rem);
}
@media (max-width: 550px) {
  .headInfo.headInfo2 .headInfo_content {
    float: none;
    width: 100%;
  }
  .headInfo.headInfo2 .headInfo_img {
    float: none;
    width: 7.5rem;
    margin: 0 auto 2rem;
  }
}
.headInfo .headInfo_content h3 {
  color: #982e7f;
  font-weight: bold;
  font-size: 2rem;
}
.headInfo .headInfo_content p {
  margin: 0;
  color: #b2b2b2;
}

/* accordion
=================*/
#accordion, .headOfHead {
  padding: 0;
}
#accordion .card, .headOfHead .card {
  background-color: transparent;
  border: 0;
  margin-bottom: 3rem;
}
#accordion .card .card-header, .headOfHead .card .card-header {
  padding: 0;
  background-color: transparent;
  border: none;
}
#accordion .card .card-header .card-link, .headOfHead .card .card-header .card-link {
  display: block;
  padding: 9px 0 15px;
  background-color: transparent;
  color: #982e7f;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#accordion .card .card-header .card-link i, .headOfHead .card .card-header .card-link i {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translatey(-50%);
  -ms-transform: translatey(-50%);
  transform: translatey(-50%);
  font-size: 2rem;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#accordion .card .card-header .card-link.collapsed, .headOfHead .card .card-header .card-link.collapsed {
  background-color: transparent;
}
#accordion .card .card-header .card-link.collapsed i, .headOfHead .card .card-header .card-link.collapsed i {
  -webkit-transform: translatey(-50%) rotate(180deg);
  -ms-transform: translatey(-50%) rotate(180deg);
  transform: translatey(-50%) rotate(180deg);
}

.productCard {
  border: 1px solid #982e7f;
  padding: 1rem;
  position: relative;
  -webkit-box-shadow: 0px 0 12px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0 12px 0px rgba(0, 0, 0, 0.15);
  max-width: 350px;
  margin-bottom: 3rem;
  -webkit-transition: all 0.2s cubic-bezier(0.53, -0.01, 0, 1.49);
  -o-transition: all 0.2s cubic-bezier(0.53, -0.01, 0, 1.49);
  transition: all 0.2s cubic-bezier(0.53, -0.01, 0, 1.49);
}
.productCard .cardTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 2.5rem;
  padding: 1rem;
}
.productCard .cardTitle .icon {
  margin-right: 1rem;
  color: #982e7f;
  font-size: 3.5rem;
}
.productCard .cardTitle .icon img {
  width: 50px;
    height: 50px;
    object-fit: contain
}
.productCard .cardTitle .title h3 {
  color: #982e7f;
  font-size: 2rem;
  font-weight: bold;
  -webkit-transition: all 0.2s cubic-bezier(0.53, -0.01, 0, 1.49);
  -o-transition: all 0.2s cubic-bezier(0.53, -0.01, 0, 1.49);
  transition: all 0.2s cubic-bezier(0.53, -0.01, 0, 1.49);
}
.productCard .productData .col-4:last-child .data {
  border: 0;
}
.productCard .productData .data {
  text-align: center;
  border-right: 1px solid #982e7f;
  color: #982e7f;
  -webkit-transition: all 0.2s cubic-bezier(0.53, -0.01, 0, 1.49);
  -o-transition: all 0.2s cubic-bezier(0.53, -0.01, 0, 1.49);
  transition: all 0.2s cubic-bezier(0.53, -0.01, 0, 1.49);
}
.productCard .productData .data p {
        overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.productCard:hover {
  background-color: #982e7f;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.productCard:hover h3,
.productCard:hover .data {
  color: #FFFFFF !important;
}
.productCard:hover .data {
  border-color: #FFFFFF;
}
.productCard:hover .setting {
  color: #FFFFFF;
}
.productCard:hover .icon {
  color: #FFFFFF;
}
.productCard:hover img {
  -webkit-filter: brightness(10);
  filter: brightness(10);
}
.productCard .setting {
  position: absolute;
  top: 10px;
  right: 15px;
  color: #982e7f;
  -webkit-transition: all 0.2s cubic-bezier(0.53, -0.01, 0, 1.49);
  -o-transition: all 0.2s cubic-bezier(0.53, -0.01, 0, 1.49);
  transition: all 0.2s cubic-bezier(0.53, -0.01, 0, 1.49);
  cursor: pointer;
}
.productCard .setting .option {
  position: absolute;
  right: 0;
  opacity: 0;
  visibility: hidden;
  border: 1px solid #982e7f;
}
.productCard .setting .option.active {
  opacity: 1;
  visibility: visible;
}
.productCard .setting .option li a {
  padding: 2px 5px;
  color: #982e7f;
  background-color: #FFFFFF;
  min-width: 90px;
  display: block;
  border-bottom: 1px solid #982e7f;
}
.productCard .setting .option li a:hover {
  background-color: #982e7f;
  color: #FFFFFF;
}
.productCard .setting .option li:last-child a {
  border: none;
}

.empCard {
  min-width: 270px;
  max-width: 270px;
}
@media (max-width: 767px) {
  .empCard {
    max-width: 100%;
  }
}
.empCard .cardTitle {
  padding: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.empCard .cardTitle .icon {
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid #fff;
}
.empCard .cardTitle .icon img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.empCard .cardTitle .title h3 {
  font-size: 1.5rem;
}
.empCard .setting {
  top: 3px;
  right: 10px;
}
.empCard .setting .option li a {
  padding: 0 5px;
}
.empCard:hover img {
  -webkit-filter: none !important;
  filter: none !important;
}

.reCard {
  border: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.reCard p {
  margin-bottom: 0;
  color: #b2b2b2;
}
.reCard .icon {
  width: 75px !important;
  height: 75px !important;
  border: 1px solid #982e7f !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #982e7f;
  position: relative;
  overflow: visible !important;
  -webkit-transition: all 0.2s cubic-bezier(0.53, -0.01, 0, 1.49);
  -o-transition: all 0.2s cubic-bezier(0.53, -0.01, 0, 1.49);
  transition: all 0.2s cubic-bezier(0.53, -0.01, 0, 1.49);
}
.reCard .icon .status {
  position: absolute;
  border: 1px solid #FFFFFF;
  padding: 0 5px;
  border-radius: 5px;
  background-color: #982e7f;
  color: #FFFFFF;
  font-size: 13px;
  top: -11px;
  left: -7px;
}
.reCard .icon img {
  width: 50% !important;
  -webkit-filter: brightness(11.5);
  filter: brightness(11.5);
}
.reCard:hover {
  -webkit-box-shadow: 0px 0 12px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0 12px 0px rgba(0, 0, 0, 0.15);
}
.reCard:hover .icon {
  background-color: #FFFFFF;
}
.reCard:hover img {
  -webkit-filter: none;
  filter: none;
}
.reCard:hover p {
  color: #FFFFFF;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

::-moz-selection {
  background: #982e7f;
  color: #FFFFFF;
}

::selection {
  background: #982e7f;
  color: #FFFFFF;
}

button:focus {
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

*:focus {
  outline: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: "stc";
  font-size: 1.6rem;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background: #F8F8F8;
}

::-webkit-scrollbar-track {
  background-color: #F8F8F8;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #982e7f;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #982e7f;
}

ul {
  padding: 0;
  list-style: none;
}

a,
a:hover,
a:focus {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.d-inline-block {
  display: inline-block !important;
}

.color {
  color: #982e7f;
}

.bootstrap-select .btn {
  border-color: transparent;
  background-color: transparent;
  border-bottom-color: #f8f9fa;
  font-size: 1.5rem;
  height: 43px;
}

.col {
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
}

@media (max-width: 1600px) {
  html {
    font-size: 9px;
  }
}
@media (max-width: 1200px) {
  html {
    font-size: 7.5px;
  }
}
@media (max-width: 600px) {
  .side-nav {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }
}


.slick-slider .slick-list{
    width: calc(100% - 10rem)!important;
}

.slick-initialized .slick-slide {
    height: auto !important;
}

.topMang {
    position: relative;
    border-bottom: 1px solid #b2b2b2;
    height: 45px;
    overflow-y: scroll;
}
.topMang .addTabs {
    color: #982e7f;
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 0;
    border-left: 1px solid #982e7f;
    height: calc(100% - 1px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
    background-color: #FFF;
    z-index: 99;
}

.productCard.empCard.reCard img{
    object-fit: contain
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #982e7f;
}
.custom-control-label::after,
.custom-control-label::before{
    width: 15px;
    height: 15px;
        top: 7px;
    left: -5px;
}
.custom-control-input{
    width: 0;
    height: 0;
    margin: 0;
    padding: 0
}
.accordionPos{
    position: absolute;
    right: 0;
    width: 250px;
    z-index: 5;
    background-color: #FFF;
    padding: 1rem;
    box-shadow:0px 5px 5px 3px rgba(31,51,73,.1);
        opacity: 0;
    visibility: collapse;
    transition:all .3s cubic-bezier(.53,-.01,0,1.49); 

}

.accordionPos.active{
    opacity: 1;
    visibility: visible;
} 
.accordionPos .card .card-header .card-link{
    border-bottom: 1px solid #ececec;
    padding: 7px 0!important
}

.accordionPos .card .card-header .card-link:first-child{
    padding-top: 0!important
}
.accordionPos .card{
    margin-bottom: 5px !important
}
.accordionPos .card .card-body{
    color: #ddd;
    font-weight: 500;
    border-bottom: 1px solid #ececec;
}
.accordionPos .card:last-child  .card-header .card-link{
    border-bottom: 0;
}
.innerBox > .nav-tabs{
    z-index: 100
}
.select2-container{
  width: 100% !important;
}
.tab-content>.tab-p {
  position: relative;
  padding-top: 20px;
}
.tab-content>.tab-p .setting2{
  position: absolute;
  right: 0;
  top: -20px
}
.tab-content>.tab-p .setting2 a{
  color: #b2b2b2;
}
.form-group.form-group-color input{
  background-color: #982e7f4a;
  color: #982e7f;
  border: none!important;
  text-align: center;
  padding: 10px 0;
  -webkit-box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.16);
  box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.16);
}
.form-group.form-group-color input::placeholder{
  color: #982e7f;

}