/* accordion
=================*/
#accordion,.headOfHead {
    padding: 0;
    .card {
        background-color:transparent;
        border:0;
        margin-bottom: 3rem;
        .card-header{
            padding: 0;
            background-color:transparent;
            border:none;
            .card-link{
                display: block;
                padding: 9px 0 15px;
                background-color: transparent;
                color: $main;
                position:relative;
                transition:all 0.3s ease-in-out;
                i {
                    position:absolute;
                    top:50%;
                    right:0;
                    transform:translatey(-50%);
                    font-size:2rem;
                    transition:all 0.3s ease-in-out;
                }
                &.collapsed{
                    background-color: transparent;
                    i{
                        transform:translatey(-50%) rotate(180deg);
                    }
                }
            }
        }
        .collapse{
            &.show{
                
            }
        }
        .card-body{
               
        }
    }
  }
  
  