.productCard {
  border: 1px solid $main;
  padding: 1rem;
  position: relative;
  box-shadow: 0px 0 12px 0px rgba(0, 0, 0, 0.15);
  max-width: 350px;
  margin-bottom: 3rem;
  .cardTitle {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 2.5rem;
    padding: 1rem;
    .icon {
      // width: 35px;
      margin-right: 1rem;
      color: $main;
      font-size: 3.5rem;
      img{
        width: 50px;
      }
    }
    .title {
      h3 {
        color: $main;
        font-size: 2rem;
        font-weight: bold;
        @include transition(all);
      }
    }
  }
  .productData {
    .col-4:last-child {
      .data {
        border: 0;
      }
    }
    .data {
      text-align: center;
      border-right: 1px solid $main;
      color: $main;
      @include transition(all);
    }
  }
  @include transition(all);
  &:hover {
    background-color: $main;
    box-shadow: none;
    h3,
    .data {
      color: $white !important;
    }
    .data {
      border-color: $white;
    }
    .setting {
      color: $white;
    }
    .icon {
      color: $white;
    }
    img{
      filter: brightness(10)
    }
  }
  .setting {
    position: absolute;
    top: 10px;
    right: 15px;
    color: $main;

    @include transition(all);

    cursor: pointer;
    .option {
      position: absolute;
      right: 0;
      opacity: 0;
      visibility: hidden;
      border: 1px solid $main;
      &.active {
        opacity: 1;
        visibility: visible;
      }
      li {
        a {
          padding: 2px 5px;
          color: $main;
          background-color: $white;
          min-width: 90px;
          display: block;
          border-bottom: 1px solid $main;

          &:hover {
            background-color: $main;
            color: $white;
          }
        }
        &:last-child {
          a {
            border: none;
          }
        }
      }
    }
  }
}

.empCard {
  min-width: 270px;
  max-width: 270px;
  @media (max-width:767px) {
    max-width: 100%
  }
  .cardTitle {
    padding: 0;
    align-items: center;
    .icon {
      width: 60px;
      height: 60px;
      overflow: hidden;
      border-radius: 50%;
      border: 1px solid #fff;
      img {
        object-fit: cover;
        width: 100%;
      }
    }
    .title {
      h3 {
        font-size: 1.5rem;
      }
    }
  }
  .setting {
    top: 3px;
    right: 10px;
    .option {
      li {
        a {
          padding: 0 5px;
        }
      }
    }
  }
  &:hover{
    img{
      filter: none !important
    }
  }
}

.reCard {
  border: none !important;
  box-shadow: none !important;

  p {
    margin-bottom: 0;
    color: $darkGray;
  }
  .icon {
    width: 75px !important;
    height: 75px !important;
    border: 1px solid $main !important;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $main;
    position: relative;
    overflow: visible !important;
    @include transition(all);
    .status {
      position: absolute;
      border: 1px solid $white;
      padding: 0 5px;
      border-radius: 5px;
      background-color: $main;
      color: $white;
      font-size: 13px;
      top: -11px;
      left: -7px;
    }
    img {
      width: 50% !important;
      filter: brightness(11.5);
    }
  }
  &:hover {
    box-shadow: 0px 0 12px 0px rgba(0, 0, 0, 0.15);
    .icon {
      background-color: $white;
    }
    img {
      filter: none;
    }
    p {
      color: $white;
    }
  }
}
