
.headOfHead{
  border-bottom: 1px solid $darkGray;
  margin: 0 3rem;
  position: relative;
  .setting{
    position: absolute;
    bottom: 0;
    right: 10px;
    a{
      color: $darkGray
    }
  }
}

.headInfo{
  margin-bottom: 3rem;
  &.headInfo2{
    overflow: hidden;
    .headInfo_img{
      border-radius: 50%;
      width:7.5rem;
      height: 7.5rem;
      text-align: center;
      overflow: hidden;
      float: left;
      img{
        object-fit: contain;
      }
    }
    .headInfo_content{
      float: right;
      width: calc(100% - 9.5rem);
    }
    @media (max-width:550px) {
      .headInfo_content{
        float: none;
        width: 100%;
      }
      .headInfo_img{
        float: none;
        width: 7.5rem;
        margin: 0 auto 2rem;
      }
      
    }
  }
  
  .headInfo_content{
    h3{
      color: $main;
      font-weight: bold;
      font-size: 2rem;
    }
    p{
      margin: 0;
      color: $darkGray
    }
  }
}