
/* bg
=========================== */
.bg{
    background: linear-gradient(rgba(125, 68, 126, 0.7), rgba(164, 33, 118, 0.7)), url(../images/bg-body.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    background-position: center;
  }
  .rightSide{
    color: $white;
    h2{
      font-size: 6rem;
    }
    h3{
      font-size: 5rem;
      // text-decoration: line-through
    }
  }
  .start-box {
    background: $white;
    min-height: 100vh;
    border-radius: 0px;
    .brand{
      position: absolute;
      top: 10px;
      left: 10px;
    }
    .login{
      padding: 6.3rem 7rem 5rem;
      text-align: center;
      h1{
        margin-bottom: 6rem;
        color: $main;
        font-size: 5rem;
      }
      input{
       
        text-align: center;
       
      }
    }
  
  }   
  